<section>
    <div class="container mt-4">
        <div class="form-row">

            <div class="col-md-6">
                <h2 class="text-center">Add Product</h2><br/>

                <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
                    
                    <label for="">Name</label>
                    <div class="d-flex align-items-start">
                    <input type="text" name="Name" class="from-control"></div>
                    
                    
                    <label for="">Category</label>
                    <div class="d-flex align-items-start">
                    <input type="text" name="Category" class="from-control"></div>
                    
                    
                    <label for="">Price</label>
                    <div class="d-flex align-items-start">
                    <input type="text" name="Price" class="from-control"></div>
               
                  
                    <label for="">Description</label>
                    <div class="d-flex align-items-start">
                    <input type="text" name="Descrpition" class="from-control"></div>
                    <br />
                   
                    <label for="">Image</label>
                    <input type="file"  name="Image" class="from-control">
                    <br />
                    <br />
                    
                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>